body{
	font-size: 12px;
	font-family: arial;
}
div.imgAndInfo{
	margin: 40px 20px;	
}
div.imgInImgAndInfo{
	width: 400px;
	float: left;
}
img.bigImg{
	width: 400px;
	height: 400px;
	padding: 20px;
	border: solid 1px #F2F2F2;
}
div.smallImgDiv{
	width: 80%;
	margin: 0px auto;
}
img.smallImg{
	width: 60px;
	height: 60px;
	border: solid 2px white;
}
img.smallImg:hover{
	border: solid 2px black;
}

div.infoInImgAndInfo{
	padding: 0px 20px;
	overflow: hidden;
}
div.titleOfProduct{
	font-size: 16px;
	color: black;
	font-weight: bold;
	margin: 0px 10px;
}
div.subTitleOfProduct{
	margin: 0px 10px;
	color: #DD2727;
}
div.juhuasuan{
	background-color: #2DA77A;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
}
div.juhuasuan span.juhuasuan{
	font-size: 18px;
	font-weight: bold;
	font-family: 黑体;
}
div.juhuasuan span.time{
	color: #FFC057;
	font-weight: bold;
}
div.productPriceDiv{
	background-image: url(http://how2j.cn/tmall/img/site/priceBackground.png);
	height: 102px;
	padding: 10px;
	color: #666666;
}
div.shoppingCoupon img.coupon{
	height: 16px;
}
div.productPriceDiv div.originalPriceDiv{
	margin-top: 5px;
}
div.productPriceDiv div.presentPriceDiv{
	margin-top: 5px;
}
div.originalPriceDiv span.originalPriceDesc{
	color: #999999;
	display: inline-block;
	width: 68px;
}
div.originalPriceDiv span.originalPrice{
	text-decoration: line-through;
}
div.presentPriceDiv span.presentPriceDesc{
	color: #999999;
	display: inline-block;
	width: 68px;
	position: relative;
	top: -10px;
}
div.presentPriceDiv span.presentPriceIcon{
	color: #C40000;
	font-size: 16px;
	font-weight: bold;
}
div.presentPriceDiv span.presentPrice{
	color: #C40000;
	font-size: 30px;
	font-weight: bold;
}
div.saleVolumeAndCommentDiv{
	margin-top: 20px;
	border-top: dashed 1px #C9C9C9;
	border-bottom: dashed 1px #C9C9C9;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #999999;
}
div.productNum{
	margin-top: 20px;
}
div.saleVolumeAndCommentDiv span.saleVolume, div.saleVolumeAndCommentDiv span.comment{
	display: inline-block;
	width: 35%;
}
span.saleVolume{
	border-right: dashed 1px #E5DFDA;
}
div.saleVolumeAndCommentDiv span.numberOfSale, div.saleVolumeAndCommentDiv span.numOfComment{
	font-weight: bold;
	color: #C40000;
}
div.productNum{
	color: #999999;
}
div.productNum input.productNumSetting{
	/*display: inline-block;*/
	/*border: solid 1px #999999;*/
	width: 35px;
	height: 32px;
}
/*span.productNumSetting input{
	border: none;
}*/
div.productNum span.updown{
	border: solid 1px #999999;
	display: block;
	/*margin-left: 3px;*/
	padding-top: 4px;
	width: 20px;
	height: 14px;
	text-align: center;
}
div.productNum span.blank{
	height: 4px;
	display: block;
}
span.arrow{
	position: relative;
	top: 14px;
	height: 30px;
	display: inline-block;
}
span.updown img{
	display: inline-block;
	vertical-align: top;
}
div.servicePromision{
	color: #999999;
	margin-top: 20px;
}
div.buyDiv{
	margin-top: 20px;
	text-align: center;
}
div.buyDiv button.buyButton{
	background-color: #FFEDED;
	color: #C40000;
	font-size: 18px;
	border: 1px solid #C40000;
	line-height: 40px;
	width: 150px;
}
div.buyDiv button.addCartButton{
	background-color: #C40000;
	border: solid 1px #C40000;
	color: white;
	font-size: 18px;
	line-height: 40px;
	width: 150px;
}
div.buyDiv span.glyphicon{
	font-size: 12px;
	padding-right: 5px;
}

div.productDetailDiv{
	display: block;
	width: 790px;
	margin: 100px auto;
}
.productDetailTitle{
	border: solid 1px #DFDFDF;
	border-left-width: 0px;
	
}
.productDetailTitle a.selected{
	color: #B10000;
	line-height: 46px;
	border-left: solid 1px #CFBFB1;
	border-right: solid 1px #CFBFB1;
	display: inline-block;
	text-align: center;
	width: 90px;
	position: relative;
	font-weight: bold;
}
.selected:before{
	content: "";
	display: block;
	border: solid 1px #C40000;
	width: 90px;
	height: 0px;
	position: absolute;
	margin-left: -1px;
	top: -1px;
}
.selected:after{
	content: "";
	display: block;
	border-color: #B10000 transparent transparent;
	border-style: solid;
	border-width: 5px;
	width: 0px;
	height: 0px;
	position: absolute;
	top: -1px;
	margin-left: -5px;
	left: 50%;
}
.commentLink{
	padding: 0px 20px;
	border-right: dotted 1px #D2D2D2;
	color: #333333;
}
div.productDetailTitle span.commentLinkNum{
	color: #3355b9;
}
div.productParameter{
	padding: 40px;
	border: solid 1px #DFDFDF;
}
div.parameterTitle{
	color: #999999;
	font-weight: bold;
	padding-bottom: 20px;
}
div.productParameterList span{
	display: block;
	padding: 8px 0px;
	float: left;
	width: 220px;
	color: #666666;
}
div.productDetailImg img{
	display: block;
	width: 790px;
	margin: 20px 0px;
}
body{
	font-size: 12px;
	font-family: arial;
}
a:hover{
	text-decoration: none;
	color: #C40000;
}
